node-flow-childrens-rewards
[  
   {  
      "id":"f690fe4f.6c03e",
      "type":"tab",
      "label":"Flow 1",
      "disabled":false,
      "info":""
   },
   {  
      "id":"603a8444.e80c2c",
      "type":"mqtt in",
      "z":"f690fe4f.6c03e",
      "name":"RFID",
      "topic":"rfid1",
      "qos":"0",
      "datatype":"auto",
      "broker":"66afeb2b.e01b34",
      "x":58,
      "y":21,
      "wires":[  
         [  
            "33ba0c98.4e8424"
         ]
      ]
   },
   {  
      "id":"33ba0c98.4e8424",
      "type":"json",
      "z":"f690fe4f.6c03e",
      "name":"",
      "property":"payload",
      "action":"",
      "pretty":false,
      "x":177,
      "y":21,
      "wires":[  
         [  
            "9f3d1757.b5eff8",
            "8bc166c3.3382b8"
         ]
      ]
   },
   {  
      "id":"9f3d1757.b5eff8",
      "type":"switch",
      "z":"f690fe4f.6c03e",
      "name":"",
      "property":"payload.uid",
      "propertyType":"msg",
      "rules":[  
         {  
            "t":"eq",
            "v":"34c350c5",
            "vt":"str"
         },
         {  
            "t":"eq",
            "v":"b4f041c5",
            "vt":"str"
         },
         {  
            "t":"else"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":3,
      "x":324,
      "y":27.5,
      "wires":[  
         [  
            "95cddb2.d390a28"
         ],
         [  
            "11afa0eb.3fb7df"
         ],
         [  
            "4b254929.48d978",
            "97817bb1.d129c8"
         ]
      ],
      "outputLabels":[  
         "GracieTotal",
         "",
         "Rewards Cards"
      ]
   },
   {  
      "id":"dc1989b9.d9ea78",
      "type":"api-call-service",
      "z":"f690fe4f.6c03e",
      "name":"Deactivated",
      "server":"63c9164f.290848",
      "service_domain":"tts",
      "service":"google_say",
      "data":"{\"entity_id\":\"media_player.googlehome0017\",\"message\":\"Parker,  you have 200 tickets!\"}",
      "mergecontext":"",
      "output_location":"payload",
      "output_location_type":"msg",
      "x":1271.0000495910645,
      "y":46.999999046325684,
      "wires":[  
         [  

         ]
      ]
   },
   {  
      "id":"861ba33a.ae9da",
      "type":"file in",
      "z":"f690fe4f.6c03e",
      "name":"GReward",
      "filename":"gracierewards",
      "format":"utf8",
      "chunk":false,
      "sendError":false,
      "encoding":"none",
      "x":509.99999618530273,
      "y":173.00003623962402,
      "wires":[  
         [  
            "26cfa153.eae3ce"
         ]
      ]
   },
   {  
      "id":"b649ffe9.fa87c",
      "type":"function",
      "z":"f690fe4f.6c03e",
      "name":"+3",
      "func":"msg.ticketnum =3;\nmsg.payload = [msg.gracierewards,msg.ticketnum];\n\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":933.0002479553223,
      "y":171.00007152557373,
      "wires":[  
         [  
            "3ce0d322.2368ec"
         ]
      ]
   },
   {  
      "id":"3ce0d322.2368ec",
      "type":"calculator",
      "z":"f690fe4f.6c03e",
      "name":"",
      "inputMsgField":"payload",
      "outputMsgField":"payload",
      "operation":"sum",
      "constant":"",
      "x":1318.000099182129,
      "y":225.00008583068848,
      "wires":[  
         [  
            "d6d8dd71.aa31c"
         ]
      ]
   },
   {  
      "id":"d6d8dd71.aa31c",
      "type":"file",
      "z":"f690fe4f.6c03e",
      "name":"GReward",
      "filename":"gracierewards",
      "appendNewline":false,
      "createDir":false,
      "overwriteFile":"true",
      "encoding":"none",
      "x":1453.0002517700195,
      "y":224.00008583068848,
      "wires":[  
         [  
            "7c787697.8c2dc8"
         ]
      ]
   },
   {  
      "id":"38f54fcc.4c36f",
      "type":"switch",
      "z":"f690fe4f.6c03e",
      "name":"RewardCardId",
      "property":"cardid",
      "propertyType":"msg",
      "rules":[  
         {  
            "t":"eq",
            "v":"84904cc5",
            "vt":"str"
         },
         {  
            "t":"eq",
            "v":"74f25dc5",
            "vt":"str"
         },
         {  
            "t":"eq",
            "v":"c4cf47c5",
            "vt":"str"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":3,
      "x":295.0195617675781,
      "y":261.0039119720459,
      "wires":[  
         [  
            "861ba33a.ae9da"
         ],
         [  
            "bab7e3b.8f3e42"
         ],
         [  
            "c2196a1e.fddb38"
         ]
      ],
      "outputLabels":[  
         "Gracie Potty",
         "Gracie Listening",
         "Parker Listening"
      ]
   },
   {  
      "id":"26cfa153.eae3ce",
      "type":"change",
      "z":"f690fe4f.6c03e",
      "name":"SetGVar",
      "rules":[  
         {  
            "t":"set",
            "p":"gracierewards",
            "pt":"msg",
            "to":"payload",
            "tot":"msg"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":653.0000152587891,
      "y":173.0000410079956,
      "wires":[  
         [  
            "9da5adb.b9c4a5"
         ]
      ]
   },
   {  
      "id":"cb3e633e.e45d1",
      "type":"change",
      "z":"f690fe4f.6c03e",
      "name":"SetCardID",
      "rules":[  
         {  
            "t":"set",
            "p":"cardid",
            "pt":"msg",
            "to":"payload.uid",
            "tot":"msg"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":100.0195198059082,
      "y":268.0039052963257,
      "wires":[  
         [  
            "38f54fcc.4c36f"
         ]
      ]
   },
   {  
      "id":"1c7b827c.fdd8ee",
      "type":"comment",
      "z":"f690fe4f.6c03e",
      "name":"Gracie Flows",
      "info":"",
      "x":516.8984375,
      "y":128.81249904632568,
      "wires":[  

      ]
   },
   {  
      "id":"9da5adb.b9c4a5",
      "type":"change",
      "z":"f690fe4f.6c03e",
      "name":"Reason",
      "rules":[  
         {  
            "t":"set",
            "p":"reason",
            "pt":"msg",
            "to":"going potty!",
            "tot":"str"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":796.5195922851562,
      "y":171.50390148162842,
      "wires":[  
         [  
            "b649ffe9.fa87c"
         ]
      ]
   },
   {  
      "id":"4b254929.48d978",
      "type":"random",
      "z":"f690fe4f.6c03e",
      "name":"",
      "low":"0",
      "high":"2",
      "inte":"true",
      "property":"randnum",
      "x":97.01953125,
      "y":180.50390529632568,
      "wires":[  
         [  
            "5d77b18f.8f39d"
         ]
      ]
   },
   {  
      "id":"5d77b18f.8f39d",
      "type":"function",
      "z":"f690fe4f.6c03e",
      "name":"word select",
      "func":"if (msg.randnum==\"0\"){\n    msg.prt1='Congratulations!';\n} else if (msg.randnum==\"1\"){\n    msg.prt1='Way to go!!';\n} else {\n    msg.prt1=\"Good Job!\";\n}\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":98.01952362060547,
      "y":220.50391292572021,
      "wires":[  
         [  
            "cb3e633e.e45d1"
         ]
      ]
   },
   {  
      "id":"c7cbcf32.63a64",
      "type":"api-call-service",
      "z":"f690fe4f.6c03e",
      "name":"Deactivated",
      "server":"63c9164f.290848",
      "service_domain":"tts",
      "service":"google_say",
      "data":"{\"entity_id\":\"media_player.googlehome0017\"}",
      "mergecontext":"",
      "output_location":"payload",
      "output_location_type":"msg",
      "x":2123.0195293426514,
      "y":216.0039119720459,
      "wires":[  
         [  

         ]
      ]
   },
   {  
      "id":"a010d81d.d92478",
      "type":"api-call-service",
      "z":"f690fe4f.6c03e",
      "name":"Test Audio",
      "server":"63c9164f.290848",
      "service_domain":"media_player",
      "service":"play_media",
      "data":"{\"entity_id\":\"media_player.googlehome0017\",\"media_content_id\":\"http://192.168.0.6/sounds/notifications/rewards/ta-da.mp3\",\"media_content_type\":\"music\"}",
      "mergecontext":"",
      "output_location":"payload",
      "output_location_type":"msg",
      "x":1982.0194969177246,
      "y":257.0038957595825,
      "wires":[  
         [  

         ]
      ]
   },
   {  
      "id":"1bfc26f9.3207f9",
      "type":"delay",
      "z":"f690fe4f.6c03e",
      "name":"",
      "pauseType":"delay",
      "timeout":"2",
      "timeoutUnits":"seconds",
      "rate":"1",
      "nbRateUnits":"1",
      "rateUnits":"second",
      "randomFirst":"1",
      "randomLast":"5",
      "randomUnits":"seconds",
      "drop":false,
      "x":1974.0195121765137,
      "y":217.00389671325684,
      "wires":[  
         [  
            "c7cbcf32.63a64"
         ]
      ]
   },
   {  
      "id":"7c787697.8c2dc8",
      "type":"function",
      "z":"f690fe4f.6c03e",
      "name":"makemsg",
      "func":"msg = {payload: {data: {message: msg.prt1+' You now have '+msg.ticketnum+' more tickets for '+msg.reason}}}\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":1771.019630432129,
      "y":257.00391578674316,
      "wires":[  
         [  
            "1bfc26f9.3207f9",
            "a010d81d.d92478"
         ]
      ]
   },
   {  
      "id":"37b8a8d5.8a7718",
      "type":"function",
      "z":"f690fe4f.6c03e",
      "name":"makemsg",
      "func":"msg = {payload: {data: {message: msg.person+' You have '+msg.rewards+' tickets!'}}}\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":1114.0196266174316,
      "y":47.00391101837158,
      "wires":[  
         [  
            "dc1989b9.d9ea78"
         ]
      ]
   },
   {  
      "id":"95cddb2.d390a28",
      "type":"change",
      "z":"f690fe4f.6c03e",
      "name":"SetPerson",
      "rules":[  
         {  
            "t":"set",
            "p":"person",
            "pt":"msg",
            "to":"Gracie",
            "tot":"str"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":583.01953125,
      "y":21.00390625,
      "wires":[  
         [  
            "e3986a1a.754428"
         ]
      ]
   },
   {  
      "id":"11afa0eb.3fb7df",
      "type":"change",
      "z":"f690fe4f.6c03e",
      "name":"SetPerson",
      "rules":[  
         {  
            "t":"set",
            "p":"person",
            "pt":"msg",
            "to":"Parker",
            "tot":"str"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":583.01953125,
      "y":57.00390625,
      "wires":[  
         [  
            "61fe1204.043d6c"
         ]
      ]
   },
   {  
      "id":"e3986a1a.754428",
      "type":"file in",
      "z":"f690fe4f.6c03e",
      "name":"",
      "filename":"gracierewards",
      "format":"utf8",
      "chunk":false,
      "sendError":false,
      "encoding":"none",
      "x":785.01953125,
      "y":27.00390911102295,
      "wires":[  
         [  
            "266104cc.1ac3fc"
         ]
      ]
   },
   {  
      "id":"266104cc.1ac3fc",
      "type":"change",
      "z":"f690fe4f.6c03e",
      "name":"SetGVar",
      "rules":[  
         {  
            "t":"set",
            "p":"rewards",
            "pt":"msg",
            "to":"payload",
            "tot":"msg"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":980.0195617675781,
      "y":47.00390625,
      "wires":[  
         [  
            "37b8a8d5.8a7718"
         ]
      ]
   },
   {  
      "id":"61fe1204.043d6c",
      "type":"file in",
      "z":"f690fe4f.6c03e",
      "name":"ParkerRewards",
      "filename":"parkerrewards",
      "format":"utf8",
      "chunk":false,
      "sendError":false,
      "encoding":"none",
      "x":786.26953125,
      "y":65.00390625,
      "wires":[  
         [  
            "266104cc.1ac3fc"
         ]
      ]
   },
   {  
      "id":"fdff7ec2.f7615",
      "type":"comment",
      "z":"f690fe4f.6c03e",
      "name":"Parker Flows",
      "info":"",
      "x":520.01953125,
      "y":367.00390625,
      "wires":[  

      ]
   },
   {  
      "id":"8bc166c3.3382b8",
      "type":"debug",
      "z":"f690fe4f.6c03e",
      "name":"",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"payload",
      "targetType":"msg",
      "x":343.890625,
      "y":133.8515625,
      "wires":[  

      ]
   },
   {  
      "id":"c2196a1e.fddb38",
      "type":"file in",
      "z":"f690fe4f.6c03e",
      "name":"PReward",
      "filename":"parkerrewards",
      "format":"utf8",
      "chunk":false,
      "sendError":false,
      "encoding":"none",
      "x":512.01953125,
      "y":420.00390625,
      "wires":[  
         [  
            "f4341502.617818"
         ]
      ]
   },
   {  
      "id":"f4341502.617818",
      "type":"change",
      "z":"f690fe4f.6c03e",
      "name":"SetGVar",
      "rules":[  
         {  
            "t":"set",
            "p":"parkerrewards",
            "pt":"msg",
            "to":"payload",
            "tot":"msg"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":655.0195503234863,
      "y":420.0039110183716,
      "wires":[  
         [  
            "b162870e.ee63e8"
         ]
      ]
   },
   {  
      "id":"b162870e.ee63e8",
      "type":"change",
      "z":"f690fe4f.6c03e",
      "name":"Reason",
      "rules":[  
         {  
            "t":"set",
            "p":"reason",
            "pt":"msg",
            "to":"listening!",
            "tot":"str"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":798.5391273498535,
      "y":418.5077714920044,
      "wires":[  
         [  
            "d41c828e.039d6"
         ]
      ]
   },
   {  
      "id":"487a4e4.1cef7b",
      "type":"calculator",
      "z":"f690fe4f.6c03e",
      "name":"+++",
      "inputMsgField":"payload",
      "outputMsgField":"payload",
      "operation":"sum",
      "constant":"",
      "x":1305.51953125,
      "y":367.00390625,
      "wires":[  
         [  
            "9670b3c1.856b8"
         ]
      ]
   },
   {  
      "id":"9670b3c1.856b8",
      "type":"file",
      "z":"f690fe4f.6c03e",
      "name":"GReward",
      "filename":"parkerrewards",
      "appendNewline":false,
      "createDir":false,
      "overwriteFile":"true",
      "encoding":"none",
      "x":1440.5196838378906,
      "y":366.00390625,
      "wires":[  
         [  
            "7c787697.8c2dc8"
         ]
      ]
   },
   {  
      "id":"d41c828e.039d6",
      "type":"function",
      "z":"f690fe4f.6c03e",
      "name":"+5",
      "func":"msg.ticketnum =5;\nmsg.payload = [msg.parkerrewards,msg.ticketnum];\n\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":939.51953125,
      "y":419.00390625,
      "wires":[  
         [  
            "487a4e4.1cef7b"
         ]
      ]
   },
   {  
      "id":"bab7e3b.8f3e42",
      "type":"file in",
      "z":"f690fe4f.6c03e",
      "name":"GReward",
      "filename":"gracierewards",
      "format":"utf8",
      "chunk":false,
      "sendError":false,
      "encoding":"none",
      "x":507.51953125,
      "y":216.00390625,
      "wires":[  
         [  
            "d2f1775d.5b3958"
         ]
      ]
   },
   {  
      "id":"77cd2223.3443bc",
      "type":"function",
      "z":"f690fe4f.6c03e",
      "name":"+3",
      "func":"msg.ticketnum =5;\nmsg.payload = [msg.gracierewards,msg.ticketnum];\n\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":930.5197830200195,
      "y":214.0039415359497,
      "wires":[  
         [  
            "3ce0d322.2368ec"
         ]
      ]
   },
   {  
      "id":"d2f1775d.5b3958",
      "type":"change",
      "z":"f690fe4f.6c03e",
      "name":"SetGVar",
      "rules":[  
         {  
            "t":"set",
            "p":"gracierewards",
            "pt":"msg",
            "to":"payload",
            "tot":"msg"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":650.5195503234863,
      "y":216.00391101837158,
      "wires":[  
         [  
            "1370416d.851d2f"
         ]
      ]
   },
   {  
      "id":"1370416d.851d2f",
      "type":"change",
      "z":"f690fe4f.6c03e",
      "name":"Reason",
      "rules":[  
         {  
            "t":"set",
            "p":"reason",
            "pt":"msg",
            "to":"listening!",
            "tot":"str"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":794.0391273498535,
      "y":214.5077714920044,
      "wires":[  
         [  
            "77cd2223.3443bc"
         ]
      ]
   },
   {  
      "id":"113de114.badf6f",
      "type":"file in",
      "z":"f690fe4f.6c03e",
      "name":"PReward",
      "filename":"parkerrewards",
      "format":"utf8",
      "chunk":false,
      "sendError":false,
      "encoding":"none",
      "x":509.51953125,
      "y":465.00390625,
      "wires":[  
         [  
            "ba02a90d.3cbef8"
         ]
      ]
   },
   {  
      "id":"ba02a90d.3cbef8",
      "type":"change",
      "z":"f690fe4f.6c03e",
      "name":"SetGVar",
      "rules":[  
         {  
            "t":"set",
            "p":"parkerrewards",
            "pt":"msg",
            "to":"payload",
            "tot":"msg"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":652.5195503234863,
      "y":465.0039110183716,
      "wires":[  
         [  
            "16778d7b.7aaa13"
         ]
      ]
   },
   {  
      "id":"16778d7b.7aaa13",
      "type":"change",
      "z":"f690fe4f.6c03e",
      "name":"Reason",
      "rules":[  
         {  
            "t":"set",
            "p":"reason",
            "pt":"msg",
            "to":"Not listening!",
            "tot":"str"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":796.0391273498535,
      "y":463.5077714920044,
      "wires":[  
         [  
            "778561b8.68a29"
         ]
      ]
   },
   {  
      "id":"778561b8.68a29",
      "type":"function",
      "z":"f690fe4f.6c03e",
      "name":"-5",
      "func":"msg.ticketnum = -5;\nmsg.payload = [msg.parkerrewards,msg.ticketnum];\n\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":937.01953125,
      "y":464.00390625,
      "wires":[  
         [  
            "a746782d.a4e598"
         ]
      ]
   },
   {  
      "id":"a746782d.a4e598",
      "type":"calculator",
      "z":"f690fe4f.6c03e",
      "name":"----",
      "inputMsgField":"payload",
      "outputMsgField":"payload",
      "operation":"sum",
      "constant":"",
      "x":1304.26953125,
      "y":406.00390625,
      "wires":[  
         [  
            "2eaab57.49dd34a"
         ]
      ]
   },
   {  
      "id":"2eaab57.49dd34a",
      "type":"file",
      "z":"f690fe4f.6c03e",
      "name":"GReward",
      "filename":"parkerrewards",
      "appendNewline":false,
      "createDir":false,
      "overwriteFile":"true",
      "encoding":"none",
      "x":1439.2696838378906,
      "y":405.00390625,
      "wires":[  
         [  
            "39b23160.27ac4e"
         ]
      ]
   },
   {  
      "id":"39b23160.27ac4e",
      "type":"function",
      "z":"f690fe4f.6c03e",
      "name":"makemsg",
      "func":"msg = {payload: {data: {message: msg.prt1+' You lost '+msg.ticketnum+' tickets for '+msg.reason}}}\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":1753.26953125,
      "y":331.00390625,
      "wires":[  
         [  
            "a010d81d.d92478",
            "1bfc26f9.3207f9"
         ]
      ]
   },
   {  
      "id":"345243bd.d3c72c",
      "type":"function",
      "z":"f690fe4f.6c03e",
      "name":"word select",
      "func":"if (msg.randnum==\"0\"){\n    msg.prt1='Oh nuts!';\n} else if (msg.randnum==\"1\"){\n    msg.prt1='Sorry!!';\n} else {\n    msg.prt1=\"Need to do what you are told.!\";\n}\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":195.01953125,
      "y":570.00390625,
      "wires":[  
         [  
            "559647f2.3ecb48"
         ]
      ]
   },
   {  
      "id":"990e620a.2b6fd",
      "type":"random",
      "z":"f690fe4f.6c03e",
      "name":"",
      "low":"0",
      "high":"2",
      "inte":"true",
      "property":"randnum",
      "x":194.01953887939453,
      "y":530.0038986206055,
      "wires":[  
         [  
            "345243bd.d3c72c"
         ]
      ]
   },
   {  
      "id":"559647f2.3ecb48",
      "type":"switch",
      "z":"f690fe4f.6c03e",
      "name":"RewardCardId",
      "property":"cardid",
      "propertyType":"msg",
      "rules":[  
         {  
            "t":"eq",
            "v":"d46b40c5",
            "vt":"str"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":1,
      "x":367.01953125,
      "y":554.00390625,
      "wires":[  
         [  
            "113de114.badf6f",
            "211a06d1.3f3dca"
         ]
      ],
      "outputLabels":[  
         "Parker Not listening"
      ]
   },
   {  
      "id":"211a06d1.3f3dca",
      "type":"debug",
      "z":"f690fe4f.6c03e",
      "name":"",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"true",
      "targetType":"full",
      "x":586.01953125,
      "y":329.00390625,
      "wires":[  

      ]
   },
   {  
      "id":"97817bb1.d129c8",
      "type":"change",
      "z":"f690fe4f.6c03e",
      "name":"SetCardID",
      "rules":[  
         {  
            "t":"set",
            "p":"cardid",
            "pt":"msg",
            "to":"payload.uid",
            "tot":"msg"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":132.01953125,
      "y":490.00390625,
      "wires":[  
         [  
            "990e620a.2b6fd"
         ]
      ]
   },
   {  
      "id":"66afeb2b.e01b34",
      "type":"mqtt-broker",
      "z":"",
      "name":"",
      "broker":"192.168.0.6",
      "port":"1883",
      "clientid":"",
      "usetls":false,
      "compatmode":true,
      "keepalive":"60",
      "cleansession":true,
      "birthTopic":"",
      "birthQos":"0",
      "birthPayload":"",
      "closeTopic":"",
      "closeQos":"0",
      "closePayload":"",
      "willTopic":"",
      "willQos":"0",
      "willPayload":""
   },
   {  
      "id":"63c9164f.290848",
      "type":"server",
      "z":"",
      "name":"Home Assistant",
      "legacy":false,
      "hassio":true,
      "rejectUnauthorizedCerts":true,
      "ha_boolean":"y|yes|true|on|home|open"
   }
]
